doctype html
meta(charset="utf-8")
html(lang="en")

    head

        title CSV/XML

        meta(charset="utf-8")

        meta(name="viewport", content="width=device-width, initial-scale=1")

        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        link(rel="stylesheet", href="/stylesheets/style.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet" href='https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css')

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")

        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
        
    body
        .container

           block content
        
        script(src="/javascripts/app.js")
        script(src='https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js')
        script.
            $(document).ready(function() {
                $('#table').DataTable();
            });
        