extends layout

block content
  .main.container
    .row
        h1.display-4.m-b-2#listradio List of radios
        h1.display-4.m-b-2#listitems List of items

    a(href='/' class='btn btn-primary' id='return') contenu uploading 
    | &nbsp;&nbsp;&nbsp;
    a(href='javascript:void(0)' class='btn btn-primary' id='fetchdata') View list of radios
    | &nbsp;&nbsp;&nbsp;
    br
    br
    div(class='se-pre-con') please wait while we fetch the data
    p#messagee.alert.alert-danger(style='display:none')
    br
    br
    table.table.table-bordered#table

        thead

            tr
                th #

                th Title

                th Author

                th Release date

                th category

                th Description

                th keywords

        tbody#trdata
    table.table.table-bordered#tableitem

        thead

            tr
                th #

                th Title

                th Publication date

                th Duration

                th Description

                th Summary

                th Subtitle

        tbody#trdataitem

           