body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

div {
  position: relative;
  overflow: hidden;
}
.labelfile {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: #1d3557;
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
}
.labelfile:focus,
.labelfile:hover {
  background-color: #a8dadc;
}
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.uploadfile:disabled,
.parseXml:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}
.uploadfile,
.parseXml {
  font-size: 1.25em;
  font-weight: 700;
  color: white;

  display: inline-block;
  padding: 10px;
  border-radius: 10px;
}
.uploadfile {
  background-color: #e4022c;
}
.parseXml {
  background-color: rgb(2, 228, 134);
}

.se-pre-con {
  background: url("../images/Preloader_2.gif") center no-repeat #fff;

  position: fixed;
  left: 20%;
  top: 5%;
  width: 800px;
  height: 600px;
  z-index: 9999;
}
#tableitem {
  display: none;
}

.showitemcsv,
.showitemxml {
  cursor: pointer;
}

#listofradios,
#listitems {
  display: none;
}
.contentcsv {
  display: none;
  width: 100%;
}
.contentitem{
  width: 100%;
}
.contentmain {
  width: 100%;
}
#hidden {
  display: none;
}

td.details-control {
  background: url("../images/details_open.png") no-repeat center center;
  cursor: pointer;
  background-size: 30px;
}
tr.details td.details-control {
  background: url("../images/details_close.png") no-repeat center center;
  background-size: 30px;
}

td[colspan] {
  background-color: rgba(205, 206, 206, 0.733)!important;
}
.err{
  background-color: transparent!important;
  color: red;
  font-size: 1.2em;
}
.noerr{
  color: green;
  font-size: 1.2em;
}
.action{
  width: 150px!important;
  padding: 0px;
}
.edit{
  color: blue;
  cursor: pointer;
}
.delete{
  color: red;
  cursor: pointer;
}
.view{
  color: rgb(112, 53, 82);

}
img{
  width: 40%;
  height: 300px;
}
.stretch{
  font-size: 1.2em;
  width: 50%;
  padding-top: 5px;
  padding-bottom: 5px;
}
.stretchbutton{
  font-size: 1.3em;
  width: 15%;
  padding-top: 10px;
  padding-bottom: 10px;
 
}
.form-group-button{
  margin-top: 15px;
  margin-left: 25%;
}
.edit-form{
  text-align: left;
  margin:15px;
}



