body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center
}

div {
  position: relative;
  overflow: hidden;
}
.labelfile{
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: #1D3557;
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
}
.labelfile:focus,
.labelfile:hover {
    background-color: #A8DADC;
}
.inputfile {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
  z-index: -1;
  
}
.uploadfile:disabled,.parseXml:disabled{
  opacity: 0.3; 
  cursor: not-allowed;
}
.uploadfile,.parseXml{
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
}
.uploadfile{
  background-color: #E4022C;
}
.parseXml{
  background-color: rgb(2, 228, 134);
}

.se-pre-con {
  margin-top: 10px;
	width:100%;
	height: 100px;
  background: url("../images/Preloader_2.gif") center no-repeat #fff;
  display: none;
  font-size: 1.25em;
  font-weight: 500;
  text-align: center
}
tableitem,table{
  display: none;
  max-width: 100%;
}
table tr td{
  width: auto;
}
#radio{
  cursor: pointer;
}
#radio:hover{

  background:#c9e8f7;
  position:relative;
}
#listofradios,#listitems{
  display: none;
}

